
dist/
node_modules/

/ui-debug.log
/firebase-debug.log
/firestore-debug.log

/.bin/typst
/.emulator_cache/
/.emulator_data/
/app/.env.*.local
/e2e/browsers/
/e2e/results/
/errors/records/
/fonts/
/server/deploy/
